<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICES PAGE</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>THE SERVICES THAT WE PROVIDE</h1>
        <p><50>    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quia labore non, reiciendis provident assumenda eius minus esse, deserunt illo accusamus pariatur voluptates officiis molestiae reprehenderit, debitis tempora minima. Eos?</50></p>
        <button> contact us </button>
    </div>
</body>
</html>